#header{
	background-image: url("landing.jpg");
	height: 500px
	}
#logo{
	text-align:center;
	
}
h2{
	text-align: center;
}

#loco{
	background-image: url(../img/breakfast.jpg);
	height:300px;
	text-align: center;
	background-repeat: no-repeat;
}

#moon{
	background-image: url(../img/lunch.jpg);
	height:300px;
	text-align: center;
	background-repeat: no-repeat;
}
#sun{
	background-image: url(../img/dinner.jpg);
	height: 300px;
	text-align: center;
	background-repeat: no-repeat;
}

.all{
	float: right;
}
.container{
	height: 500px;
}

#pic1{
	height: 200px;
}
#pic{
	height: 300px;
}/*
.container-fluid {
	background-image:  url("foodsBg.jpg");
	height: 300px;
	background-size: cover;
	overflow: hidden; */

.star{
	background-image:url("foodsBg.jpg");
	background-size: cover; 
	height: 300px;
	width:100%;
}
.color{
	background-color : red;
}
.my-class{
	margin:8px;
	border:2px;
}
#star{
	background-image:url("subscribe.jpg"); 
	height: 300px;
	width:1500px;
}
.frm{
	margin-left: 50%;
}
.go{
	color: #F15A29;
}
.sh{
	color: #F15A29;
}
.pm{
	color: #F15A29;
}

.cw{
	color: #F15A29;
}
.bs{
	box-shadow: 10px 10px 5px #888888;
}
}
p1 {
	text-align: center;
}
.container-fluid1{
	background-color: orange;
	height: 100px;
}
.mn{
	text-align: center;
	font-size: 2em;
}
.sn{
	text-align: center;
	font-size: 1.5em;
}
.hq{
	color: #F15A29;
}
#end{
	background-color: #F15A29;
	height: 300px;
	width:1500px;
	text-align: center;
}
.fw{
	background-color: #F15A29;
}
#dr{
	padding-bottom: 60px;
}
.custom{
	height: 300px;
}
h4{
	background-color: #F15A29;
	height: 120px;
}